# Server Configuration
SERVER_HOST=127.0.0.1
SERVER_PORT=8080

# ArangoDB Configuration
ARANGO_URL=http://localhost:8529
ARANGO_DB=test
ARANGO_USERNAME=test
ARANGO_PASSWORD=test

# Redis Configuration
REDIS_URL=redis://127.0.0.1/

# Google Places API Configuration
GOOGLE_API_URL=https://maps.googleapis.com/maps/api/
GOOGLE_LOCATION_API=your_google_places_api_key_here
GOOGLEMAP_API_TIMEZONE_URL=https://maps.googleapis.com/maps/api/timezone/json 
# NOTE: Place this file at the top-level of the repository as .env.development or .env.production 